<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="features.alarm">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:excludeFromRecents="true">
        <receiver android:name="me.fabiooliveira.getnotes.alarm.broadcastreceiver.NoteAlarmBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name="me.fabiooliveira.getnotes.alarm.service.NoteAlarmService"
            android:exported="false" />
    </application>
</manifest>