<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.fabiooliveira.anotaai">

    <application
        android:name=".base.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.onboarding.ui.activity.OnboardingActivity"
            android:theme="@style/AppThemeOnboarding">
        </activity>
        <activity
            android:name=".feature.splashScreen.ui.activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.notesList.ui.activity.NotesListActivity" />
        <activity
            android:name=".feature.noteAdd.ui.activity.NoteAddActivity"
            android:theme="@style/AppTheme.CircularColor" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>